@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'establishRetrosansOTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html>body {
	font-family: 'Pretendard-Regular', sans;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

header {
	font-family: 'establishRetrosansOTF', sans;
}

header > div > ul > li {
	margin-right: 30px;
}

.toastui-editor-contents {
	text-align: center;
}
